.titulo-recetas {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 10px;
    color: #800000;
  }
  .card {
    margin-bottom: 30px;
  }

  .card-img-top {
      height: 220px;           /* altura fija para todas */
      width: 100%;             /* ocupa todo el ancho de la card */
      object-fit: cover;       /* recorta la imagen sin deformarla */
      transition: transform 0.4s ease;
  }

  .modal-img {
      width: 100%;          /* ocupa todo el ancho del modal */
      height: 300px;        /* o la altura que quieras */
      object-fit: cover;    /* recorta la imagen para que no se deforme */
      border-radius: 8px;
  }

  .animated-title {
    font-size: 3.5rem;
    font-weight: bold;
    color: #800000;
    text-align: center;
    width: 100%;
    margin: 10px 0;
    letter-spacing: 13px;  /* Espacio entre letras */
    word-spacing: 20px;   /* Espacio entre palabras */
}

footer {
    height: 60px;
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 25px;
    font-weight: bold;
  }